body {
  font-family: sans-serif;
  background-image: url("/img/MG.png");
  /* background-position: 50% 0%;
*/
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #0b1d26;
}

nav {
  margin: 56px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information {
  margin: 56px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
